<table>
    <thead>
        <tr>
            <th>First Name</th>
        </tr>
    </thead>

    <tbody>
        <% results.forEach(row => { %>
            <tr>
                <th> <%= row.first_name %></th>
            </tr>
      <%  }); %>
    </tbody>
</table>